body {
    font-family: 'Ubuntu', serif;
    width : 100vw;
    padding : 0;
    margin : 0;
    color : rgb(255, 255, 255);
    overflow-x : hidden;
    background-color : rgb(19, 3, 40);
    /* background: url('/assets/images/bg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}


table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    /* background-color: #f2f2f2; */
}

.container{
    display : grid;
    width : 100%;
    padding : 1rem;
    column-gap : 3rem;
    height : calc(100vh - 4rem);
    grid-template-columns : repeat(2, calc(50% - 3rem));
}
.form-table td{
    width : auto;
    border : none;
    text-align : left;
}

.auto-width {
    font-weight : bold;
    /* text-shadow: 0 0 .2rem black; */
    width : 25% !important;
}

.form-table{
    border : none;
}

input{
    /* background-color: #ffffff77; */
    border-radius : .3rem;
    padding : .5rem 1rem;
    border : none;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.215);
}

button{
    margin-top : 1rem;
    border-radius : .3rem .5rem;
    padding : .5rem 1rem;
    background-color : rgb(95, 95, 255);
    border : none;
    color : rgb(255, 225, 0);
    font-weight : bold;
    font-size : 1.2rem;
}

.logos{
    width :3rem;
    height : 3rem;
}

.title{
    display : flex;
    column-gap : .5rem;
    align-items : center;
}

.title h1{
    /* text-shadow: 0 0 .2rem black; */
}

footer{
    position :absolute;
    bottom : 0;
    text-align : center;
    width : 100%;
    padding : 1rem;
    color : black;
}

.form-area{
    border-radius: .5rem;
    padding : 1rem;
    filter:blur(1);
    /* background-color: rgba(0, 0, 0, 0.07); */
    height : 100%;
}

.hasil-area{
    height : 100%;
    overflow : auto;
    margin-top : 3rem;

}


thead{
    position : sticky;
    top : 0;
}

thead th{
    /* background-color: #e18cb3; */

}

tbody{
    margin : 1rem;
}



#results-table thead tr th{
    background-color : rgb(95, 95, 255);
    border: solid white 1px;
    color : rgb(255, 225, 0);


}

#results-table tbody td{
    border: solid white 1px;
    /* color :rgb(95, 95, 255); */
    font-weight: bold;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    /* background-color: rgba(255, 255, 255, 0.65); */
}

.tombol-anggota{
    display :flex;
    align-items: center;
    column-gap: 1rem;
    background-color : rgb(95, 95, 255);
    border-radius: .5rem;
    padding : .5rem 1rem;
    color : black;
    position: absolute;
    bottom : 1rem;
    left : 2rem;
    cursor: pointer;
    z-index : 2;
}

.close-btn{
    width : 1.5rem;
    position  : absolute;
    top : 1rem;
    right : 1rem;
}

.tombol-anggota h2{
    margin : 0;
    color : rgb(255, 225, 0);
    font-size: 1rem;
    text-shadow: 1px 1px 2px black;

}

#anggota-area{
    color : black;
    padding : 1rem;
    position : absolute;
    width : 45vw;
    left : 2rem;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    row-gap: 0;
    top : 3.1rem;
    color : rgb(255, 225, 0);
    height : 80vh;
    animation: slideInLeft 1s ease 0s 1 normal forwards;
    border-radius: .5rem;
    background-color : rgb(95, 95, 255);
}

#anggota-area.hide{
    animation: slideOutLeft 1s ease 0s 1 normal forwards;

}

#anggota-area h2{
    margin : 0;
    text-shadow: 1px 1px 2px black;
}


.tombol-anggota img{
    width : 2rem;
}